<div layout="column" style="height: 100vh;">

	<section layout="row" flex>

		<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop md-whiteframe="4">

			<md-toolbar style="background-color: #fff; height: 25vh">
				<form name="myForm" class="uploadimg">
					<img src="{{img}}" class="img-fluid perfil">
					<button class="buttonimg" ngf-select ng-model="picFile" data-toggle="modal" data-target="#orangeModalSubscription2" accept="image/*"></button>
				</form>
				<h3 class="md-toolbar-tools nombre">{{name}}</h3>
				<small class="correo">{{correo}}</small>
			</md-toolbar>
			<md-content style="height: 75vh; overflow-y: hidden">
				<div style="height: 50vh;">
					<button class="btn limabtn btn-block button text-left" ui-sref="tipoproyecto" ng-show="gestionrol"><span class="buttondash icon fa fa-cog"></span>Gestionar tipo proyectos</button>
					<button class="btn limabtn btn-block button text-left" ui-sref="crearproyecto"><span class="buttondash icon fa fa-plus"></span>Crear proyecto</button>
					<button class="btn limabtn btn-block button text-left" ui-sref="actualizarproyecto"><span class="buttondash icon fa fa-pencil"></span>Actualizar proyecto</button>
					<button class="btn limabtn btn-block button text-left" ui-sref="terminarproyecto"><span class="buttondash icon fa fa-paper-plane-o"></span>Terminar proyecto</button>
					<button class="btn limabtn btn-block button text-left" ui-sref="eliminarproyecto"><span class="buttondash icon fa fa-trash"></span>Eliminar proyecto</button>
					<button class="btn limabtn btn-block button text-left" ui-sref="seguimiento" ng-show="gestionrol"><span class="buttondash icon fa fa-cogs"></span>Realizar seguimiento</button>
					<button class="btn limabtn btn-block button text-left" ui-sref="aprobarproyecto" ng-show="gestionrol"><span class="buttondash icon fa fa-thumbs-up"></span>Aprobar proyecto</button>
					<button class="btn limabtn btn-block button text-left" ng-click="logout()"><span class="buttondash fa fa-times"></span>Cerrar sesion</button>
				</div>
				<div style="height: 20vh">
					<img class="logo2 img-fluid" src="./img/logoSena.png">
				</div>
			</md-content>
		</md-sidenav>
		<div flex="100" layout="row" layout-wrap>
			<div flex="100">
				<nav class="navbar navbar-light">
					<a class="navbar-brand">Crear proyecto </a>
					<md-input-container>
						<label>Tipo proyecto</label>
						<md-select ng-model="tpo">
							<md-option ng-repeat="tipo in date.tipoproyecto" value="{{tipo.nombre}}" ng-click="tipocrear(tipo.id)">{{tipo.nombre}}</md-option>
						</md-select>
					</md-input-container>
				</nav>
			</div>
			<div flex="100" layout="row" layout-fill>
				<div style="width: 75%;height: 75%;background-color: #e9ecef" class="jumbotron-fluid container-fluid my-5">
					<md-input-container class="my-4 mx-5 md-input" style="width: 80%" ng-repeat="tipe in tipodatos">
						<label> {{tipe.valor}}	</label>
						<input ng-if="tipe.nombre === 'datetime' || tipe.nombre === 'text' || tipe.nombre === 'date'" class="md-input" type={{tipe.nombre}} required>
						<textarea ng-if="tipe.nombre === 'multilinea'" max-rows="3"></textarea>
					</md-input-container>
					<button type="submit" class="btn btn-primary btn-lg" style="position: absolute;bottom: 7%; right: 35%; width: 15%;" required>Crear</button>
				</div>
			</div>
		</div>
	</section>
</div>

<md-button class="md-fab buttondashboard" ui-sref="dashboard" aria-label="Profile">
	<span class="fa fa-chevron-left"></span>
</md-button>