body{
 background-color: #C2BBBB;
 overflow-x: hidden;
 overflow-y: hidden;
}
.menu{
    width: 20% !important;
    height: 100% !important;
}
.logo{
    position: absolute;
    right: 20px;
    bottom: -1%;
    display: block;
}
.logo2{
    width: 50%;
     /* position: relative; */
    margin-left: 20% !important;
    margin-top: 2%;
    border-radius: 10px !important;
}
.searc{
  border-top: 0;
  border-left: 0;
  -webkit-border-radius: 9px 9px 9px 9px;
  border-right: 0;
}

.modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
    border-radius: 3px;
}
.oranges{
    background-color:#ff9800;
}
.lima{
    background-color: rgb(89,181,72);
}
.limabtn{
    padding: 0.3em !important;
    cursor: pointer;
     background-color: rgb(89,181,72);
}
.buttondashboard{
    position: absolute;
    bottom: 0;
    right: 0;

}
.md-fab{
background-color: rgb(89,181,72) !important;
}
 nav{
background-color: white;
 border-bottom: 6px solid rgb(89,181,72);
 }
.button{
    padding: 1em;
    letter-spacing: .5px;
}
.limabtn:hover{
    background-color: #C2BBBB;
}
.buttondash{
margin-left: 10px;
}
.icon{
    margin-right: 5px;
}
.perfil{

    position: relative;
    display: block;
    margin-left: 35%;
    width: 30%;
    margin-top: 5%;
    border-radius: 10px !important;
}
.md-no-sticky{
    color: black !important;
    font-size: 19px !important;
    padding: 0 !important;
}
.cards{
    position: absolute;
    top: 8%;
    right: 5.5%;
    display: flex;
    justify-content: space-around;
    z-index: 20;
    width: 71%;
    margin-top: 3%
}
.cards .card{
    margin: 0 10px !important;
    line-height: .1;
    padding: 0.7em;
}
.correo{
    color: black;
     margin-top: -5%;
     text-align: center;
     width: auto;
}
.nombre{
    color: black;
     margin-top: -8%;
     width: auto;
     justify-content: center;
}
md-card{
    padding-bottom: 15%;
}
.buttonimg{
    position: absolute;
    cursor: pointer;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0);
    top: 10%;
    right:35%;
    width: 30%;
    height: 40%;
}

.cardbody{
    padding-bottom: 0.5em;
}

.cargestionforma{
margin-bottom: 0 !important;
width: 90%;
 height: 70%;
 overflow-y: scroll;
 overflow-x: hidden;
}
.cargestionminiforma{
margin-top: 0 !important;
border-top: 10px solid #C2BBBB;
width: 90%;
 height: 10%;
  padding: 0 !important;
}
.cargestiontipo{
margin-top: 0 !important;
width: 90%;
 height: 70%;
 overflow-y: scroll;
 overflow-y: scroll;
}
.cargestionminitipo{
    margin-bottom: 0 !important;
    border-bottom: 10px solid #c2bbbb;
    width: 90%;
    height: 10%;
    padding: 0 !important;
}
.tipoproyecto{
    cursor: pointer;
}
.md-subheader .md-subheader-inner{
    padding: 0.5rem;
}